[project]
name = "rustcon-2025"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.7",
    "pytrends>=4.9.2",
    "pandas>=2.2.0",
]
